---
---

// ================ VARS ===============//

$font-color: #333;
$navbar-default-link-color: white;
$navbar-default-link-active-color: darken($navbar-default-link-color, 25%);
$navbar-default-link-hover-color: $navbar-default-link-color;
$dropdown-link-hover-color: $navbar-default-link-color;
$home-header-bg-color: #333;
$new-article-img-height: 150px;
$new-article-img-width: 225px;
$new-article-title-color: black;
$new-article-tag-color: #e5cb52;
$featured-articles-bg-color: #f7f7f7;
$featured-articles-title-color: #373737;
$article-cover-img-width: 355px;
$article-cover-img-height: 190px;
$carousel-bg-color: #333;
$carousel-height: 625px;

// =============== /VARS ===============//

@import "bootstrap";

@charset "UTF-8";

// ============== MIXINS ============== //

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin box-sizing(){
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

@mixin shadow(){
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
	-ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
	-o-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}


// ============== /MIXINS ============== //

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 300;
  src: local('Avenir Next'), local('Avenir Next'), url(/fonts/avenirnext-thin.woff) format('woff');
}

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 500;
  src: local('Avenir Next'), local('Avenir Next'), url(/fonts/avenirnext-regular.woff) format('woff');
}

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 700;
  src: local('Avenir Next Bold'), local('Avenir Next Bold'), url(/fonts/avenirnext-bold.woff) format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  src: local('Merriweather'), local('Merriweather Regular'), url(/fonts/Merriweather-Regular.ttf) format('woff');
}

body {
	font-size: 13px;
	color: $font-color;
	background: #fff;
	@include box-sizing();
}

*{	
	font-family: Merriweather, Open Sans, sans-serif;
}


// ================ NAV ================//

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  transition: background-color 1s ease-in;
  background: black;

  &.affix {
    position: fixed;
    background: rgba(45, 44, 40, 0.6);

    &.darken {
      background: rgba(45, 44, 40, 1);
    }

  }
}


.navbar-logo {
  @media (min-width: $screen-sm-min) {
    height: 2.5em;
    padding: .5em;
  }
  @media (max-width: $screen-xs-max) {
    height: 2.5em;
    padding: .5em;
  }
}

.navbar {
  background: transparent;
  border: none;
  padding-top: 5px;
  font-weight: bold;
  font-family: montserrat;
  font-size: 14px;
  margin-bottom: 0px;
  border-bottom: 0px;

  .navbar-header {
    margin-top: 0.2em;
  }

  .navbar-brand {
    text-transform: uppercase;
  }

  .navbar-toggle {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .active  a, .open a {
    background: transparent !important;
    color: white;
  }

  .dropdown-menu {
    background-color: #565553;
  }

  @media (min-width: $screen-sm-min) {
    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
      text-transform: uppercase;
    }

    .navbar-collapse {
      text-align: center;

    }
  }
}
// ================ /NAV ================//

// ============= HOME-HEADER ============= //

#header {
  position: relative;
  height: 500px;
  margin-bottom: -($new-article-img-height / 4);
  background: $home-header-bg-color;
  padding: 0;
  overflow: hidden;

  &.category-header {
    height: 300px;
    box-shadow: 0 100px 125px -100px;
  }

  &.about-header {
    height: 200px;
  }

  .cover {
    z-index: 10;
    color: white;
  }

  .cover-link {
    text-decoration: none;
  }

  .cover-link:hover {
    text-decoration: none;
  }

  .title {
    font-family: Merriweather;
    font-size: 42px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 10px #000000;
    -webkit-transition: text-shadow 0.5s ease;
    -moz-transition: text-shadow 0.5s ease;
    -o-transition: text-shadow 0.5s ease;
    transition: text-shadow 0.5s ease;
  }

  .title:hover {
    text-shadow: 1px 1px 10px #777777;
  }

  .cover-image {
    width: 100%;
    position: absolute;

    .img-responsive {
      width: 100%;
    }
  }

  .scroll-buttons {
    color: white;
    font-size: 32px;

  }

  .left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10%;
    @include gradient-horizontal($start-color: rgba(0,0,0,.4), $end-color: rgba(0,0,0,.0001));
  }
  .right {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;

    width: 10%;
    @include gradient-horizontal($start-color: rgba(0,0,0,.0001), $end-color: rgba(0,0,0,.4));
  }
}
// ============= /HOME-HEADER ============= //

// ============= NEW-ARTICLES ============ //
#new-articles, #related-articles {
  z-index: 10;

  .article:hover {

    .img-container {
      width: $new-article-img-width * 1.1;
      height: $new-article-img-height * 1.1;
    }

  }

  .cover-container-container {
    width: $new-article-img-width * 1.1;
    height: $new-article-img-height * 1.1;
  }

  .img-container {
    width: $new-article-img-width;
    height: $new-article-img-height;
    border-radius: 1%;
    box-shadow: 0 0 15px 0 rgba(0,0,0, 0.5);
  }

  .details:hover ~ .cover-container-container {
    & > .img-container {
      width: $new-article-img-width * 1.1;
      height: $new-article-img-height * 1.1;
    }
  }

  .details {
    margin: 10 auto;
    font-weight: bold;

    .title {
      color: $new-article-title-color;
      text-transform: capitalize;
      font-size: 20px;
      margin-top: 10px;
    }

    .tag {
      text-transform: uppercase;
      font-family: AvenirNext;
      font-size: 14px;
      color: $new-article-tag-color;
    }
  }
}
// ============ /NEW-ARTICLES ============ //

// ========== FEATURED-ARTICLE =========== //
#featured-articles-container {
  background: $featured-articles-bg-color;
  padding-top: 3em;
}

#featured-articles-title {
  font-size: 30px;
  font-weight: bold;
  color: $featured-articles-title-color;
  margin-top: 22px;
  margin-bottom: 22px;
}

#featured-articles {
  color: lighten($font-color, 10%);

  .article-cover-container {
    width: $article-cover-img-width;
    height: $article-cover-img-height;
    box-shadow: 0px 35px 40px -20px rgba(0,0,0, 0.5);
  }

  a {
      &:hover{
      color: darken($font-color, 10%);
      text-decoration: none;
      @include transition(all, 0.2s, ease-in);

      .details {
        box-shadow: -3px -3px 15px 0 rgba(0,0,0,0.25);
      }
    }
  }

  .article-container {
    margin-bottom: 10px + 0.1 * $article-cover-img-height;

    .details {
      position: relative;
      z-index: 10;
      margin: 0 auto;
      top: -0.1 * $article-cover-img-height;
      background: $featured-articles-bg-color;
      width: 0.9 * $article-cover-img-width; ;
      height: 120px;
      padding-bottom: .5em;

      .tag {
        position: absolute;
        top:0;
        left: 50%;
        transform: translate(-50%,-75%); 
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1em;
        color: #ffffff;
        background-color: rgba(146, 204, 102, 0.85);
        padding: 0.5em 1em;
        opacity: 0.9;
      }

      .title {
        font-size: 1.85em;
      }

      &:before {
        content: " ";
        display: table;
      }

    }
  }
}
// ========= /FEATURED-ARTICLES ========== //
// ============= CAROUSEL ============= //

/* Carousel base class */
.carousel {
  height: $carousel-height;
}

.carousel-caption {
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    h1 {
      font-weight: bold;
      line-height: 0.98;
      text-align: center;
      color: #ffffff;
    }
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: $carousel-height;;
  background-color: $carousel-bg-color;
}
.carousel-inner{

  .video-container {
    width: 70%;
    padding: 2%;
  }

  > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }
}
// ============ /CAROUSEL ============= //

// ============== COMPONENTS ============== //
.center-vertical {
  position: absolute;
  -ms-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  bottom: 50%;
}

.center-horizontal {
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}

.center-both {
  position: absolute;
  -ms-transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  left: 50%;
  bottom: 50%;
}

.center-fill-container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.img-center-fill {
  position: absolute;
  width: 100%;

  &.wide {
    height: 100%
  }
  
  &.tall {
    width: 100%;
  }
}

a {
	color: inherit;
	text-decoration: none;
	@include transition(all, 0.2s, ease-in);

	&:hover{
    color: darken($font-color, 10%);
    text-decoration: none;
		@include transition(all, 0.2s, ease-in);
	}

  &.hover-underline {
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

blockquote {
	border-left: 5px solid #e74c3c;
	padding-left: 10px;
	font-style: italic;
}
// ============== /COMPONENETS ============== //

// ============== POST ============== //

.post {
  z-index: 10;
  position: relative;
	background: white;
	padding: 10px 50px;
  margin-bottom: 20px;
	font-size: 1.1em;
	line-height: 1.5em;
	color: #333332;
  font-family: AvenirNext;

  .content {
    margin-top: 2em;
  }

	p img {
		display: block;
		margin: auto;
		max-width: 100%;
		padding: 5px 0px;
	}

  .justify {
    text-align: justify;
  }
}

.post-header {
  box-shadow: 0 100px 125px -100px;
}

// ============== /POST ============== //

// ========= RELATED-ARTICLES ======== //

#related-articles {
  padding-top: 40px;
  padding-bottom: 20px;
  background: #f0f0f0;
}

// ========= /RELATED-ARTICLES ======= //

// ============== FOOTER ============== //

footer {
  position: relative;
	background: #1c1c1c;
  height: 65px;
  font-weight: normal;
  color: #ffffff;

  a:hover {
    color: #ddd;
  }
}

// ============== /FOOTER ============== //

// ============== CATEGORY-POSTS ===========//
.category-posts {
  position: relative;
  z-index: 10;
  background: white;
  padding-top: 20px;
  min-height: 100px;

  .category-post {
    margin-bottom: 30px;
    padding: 0 10px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .img-container {
    height: $article-cover-img-height;
  }
}
// ============= /CATEGORY-POSTS ===========//

// ============== TEAM ============== //

.team {
	background: white;
	padding: 10px 50px;
	@include shadow();
	font-size: 1.1em;
	line-height: 1.5em;
	color: #333332;
	text-align: center;
	font-size: 0.9em;

	h1, h3, h4, h5, h6 {
		margin: 0px;
		font-weight: 500;
	}

	.person {
		margin-bottom: 20px;
	}
}

// ============== /TEAM ============== //

.img {
	padding: 10px 0px 10px 10px;

	&.right img{
		float: right;
		width: 300px;
	}
	&.left img{
		float: left;
		width: 300px;
	}
	&.center {
		text-align: center;
	}
}

// ============== ABOUT ============== //

.about {
  h4 {
     line-height:125%;
   }

  padding: 2em 3em;
  font-size: 1.2em;
}
