---
---

// ================ VARS ===============//

$navbar-default-link-color: white;
$navbar-default-link-active-color: darken($navbar-default-link-color, 25%);
$navbar-default-link-hover-color: darken($navbar-default-link-color, 35%);
$carousel-bg-color: #312d2a;
$carousel-height: 500px;

// =============== /VARS ===============//

@import "bootstrap";

@charset "UTF-8";

// ============== MIXINS ============== //

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin box-sizing(){
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

@mixin shadow(){
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
	-ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
	-o-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}

// ============== /MIXINS ============== //

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 300;
  src: local('Avenir Next'), local('Avenir Next'), url(/fonts/avenirnext-thin.woff) format('woff');
}

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 500;
  src: local('Avenir Next'), local('Avenir Next'), url(/fonts/avenirnext-regular.woff) format('woff');
}

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 700;
  src: local('Avenir Next Bold'), local('Avenir Next Bold'), url(/fonts/avenirnext-bold.woff) format('woff');
}

body {
	font-size: 13px;
	color: #081522;
	background: #ddd url('/images/bg.png');
	@include box-sizing();
}

*{	
	font-family: Open Sans, sans-serif;
}

// ============== COMPONENTS ============== //

a {
	color: inherit;
	text-decoration: none;
	@include transition(all, 0.2s, ease-in);

	&:hover{
		color: #e74c3c;
		border-bottom: 1px solid #e74c3c;
		@include transition(all, 0.2s, ease-in);
	}
}

blockquote {
	border-left: 5px solid #e74c3c;
	padding-left: 10px;
	font-style: italic;
}

.pagination {
	text-align: center;
	font-style: italic;

	img {
		position: relative;
		top: 12px;
		opacity: 0.7;
		cursor: pointer;
		@include transition(all, 0.2s, ease-in);

		&:hover {
			opacity: 1;
			@include transition(all, 0.2s, ease-in);
		}

		&.disabled {
			opacity: 0.5;

			&:hover {
				opacity: 0.5;
			}
		}
	}
}

// ============== /COMPONENETS ============== //

// ================ NAV ================//

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  
  > .container {
    width: 100%
  }

}


.navbar-logo {
  @media (min-width: $screen-sm-min) {
    height: 6.5em;
  }
  @media (max-width: $screen-xs-max) {
    height: 5.5em;
  }
  padding: .5em;
}

.navbar {
  background: transparent;
  @include gradient-vertical($start-color: darken($carousel-bg-color, 3%), $end-color: rgba($carousel-bg-color, 0));
  border: none;
  padding-top: 5px;
  font-weight: bold;

  .navbar-toggle {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .active  a {
    background: transparent !important;
  }

  @media (min-width: $screen-sm-min) {
    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
      font-size: 15px;
      text-transform: uppercase;
    }

    .navbar-collapse {
      text-align: center;

    }
  }
}
// ================ /NAV ================//

// ============= CAROUSEL ============= //

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;

}

.carousel-caption {
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: $carousel-height;;
  background-color: $carousel-bg-color;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;

}
// ============ /CAROUSEL ============= //


// ============== HEADER ============== //

header {
	font-family: AvenirNext, Sans-serif;
	color: white;
	padding: 10px 10px;
	margin: auto;
	text-align: center;	
	
	&.pure-u-2-3{
		display: block;
	}
	
	h1, h3 {
		margin: 0px;
	}
	
	h3 {
		font-weight: 500;
	}

	img {
		width: 30px;
	}

	nav {
		padding: 10px 0px 50px 0px;
		margin-top: 30px;

		a {
			margin: 0px 10px;
			padding: 2px 0px;

			&:hover{
				color: #333;
				border-bottom: 1px solid #333;
			}
		}
	}
}

// ============== /HEADER ============== //

// ============== CONTENT ============== //
.cover {
	background: white;
	margin: auto;
	display: block;
	position: relative;
	margin-bottom: 30px;
	z-index: 10;
	@include shadow();

	img {
		width: 100%;
		display: block;
		opacity: 0.8;
		@include transition(all, 0.2s, ease-in);

		&:hover {
			opacity: 1;
			@include transition(all, 0.2s, ease-in);
		}
    
    &.hidden {
      visibility: hidden;
      height: 10em;
    }
	}

	.tag {
		width: 100px;
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 1;
	}

	a:hover {
		border: none;
		color: #000;
	}

	.details {
		position: absolute;
		bottom: 0;
		width: 100%;
		background: rgba(255,255,255,0.8);
		padding: 20px 20px;
		@include box-sizing();

		h2 {
			font-weight: 500;
			margin: 0 0 5px 0;
		}

		p {
			margin: 0;
		}
	}
}


.content {
	.pure-u-1-3 {
		@include box-sizing();
	}
}


.article-container {
	/*width: 280px;*/
	width: 30%;
	margin: 0 1.5%;
	margin-bottom: 50px;
	float: left;
	@include box-sizing();
}

.article {
	border: 1px solid #ccc;
	background: white;
	padding-bottom: 10px;
	color: #6D6D6D;
	@include shadow();
	@include box-sizing();

	&:hover {
		color: #333;
		img.article-cover {
			opacity: 1;		
		}
	}

	a:hover {
		border: none;
		color: #000;
	}
	
	.details {
		padding: 5px 10px;

		h3 {
			margin: 0 0 10px 0;
			color: #363845;
		}

		blockquote, p {
			margin: 0;
			border: none;
		}
	}

	img.article-cover {
		border-bottom: 1px solid #ccc;
		width: 100%;
		opacity: 0.8;
		@include transition(all, 0.2s, ease-in);
	}

	.tag {
		width: 100px;
		position: absolute;
		top: 0px;
		z-index: 1;
	}

	&.faceoff {
		border-top: 2px solid #E67E22;
	}
	&.bigstory {
		border-top: 2px solid #4390DF;
	}
	&.coverstory {
		border-top: 2px solid #FF5050;
	}
	&.techila {
		border-top: 2px solid #9B59B6;
	}
	&.phekingnews {
		border-top: 2px solid #F1C40F;
	}
	&.editorial {
		border-top: 2px solid #2ECC71;
	}
	&.news {
		border-top: 2px solid #1ABC9C;
	}
	&.almostfamous {
		border-top: 2px solid #34495E;
	}
}

// ============== CONTENT ============== //

// ============== POST ============== //

.post {
	background: white;
	padding: 10px 50px;
	@include shadow();
	font-size: 1.1em;
	line-height: 1.5em;
	color: #333332;

	p img {
		display: block;
		margin: auto;
		max-width: 100%;
		padding: 5px 0px;
	}

  .justify {
    text-align: justify;
  }
}

// ============== /POST ============== //

// ============== FOOTER ============== //

footer {
	background: white;

	div{
		display: block;
		margin: auto;
	}

	nav {
		margin: 1em 0;
		float: right;

		a {
			margin: 0px 10px;
			padding: 2px 0px;
		}
	}
}

// ============== /FOOTER ============== //

// ============== TEAM ============== //

.team {
	background: white;
	padding: 10px 50px;
	@include shadow();
	font-size: 1.1em;
	line-height: 1.5em;
	color: #333332;
	text-align: center;
	font-size: 0.9em;

	h1, h3, h4, h5, h6 {
		margin: 0px;
		font-weight: 500;
	}

	.person {
		margin-bottom: 20px;
	}
}

.about {
	background: white;
	padding: 10px 50px;
	@include shadow();
	font-size: 1.1em;
	line-height: 1.5em;
	color: #333332;
	text-align: center;
	font-size: 0.9em;
}

// ============== /TEAM ============== //

.img {
	padding: 10px 0px 10px 10px;

	&.right img{
		float: right;
		width: 300px;
	}
	&.left img{
		float: left;
		width: 300px;
	}
	&.center {
		text-align: center;
	}
}
