---
---

// ================ VARS ===============//

// Bootstrap vars
$font-color: #333;
$container-lg: 1040px;
$navbar-default-brand-color: #4e4e4e;
$navbar-default-bg: #fff;
$navbar-default-border: none;

// Other vars
$pre-nav-logo-height: 65px;
$home-header-bg-color: #22221f;
$home-header-height: 340px;
$new-article-img-height: 150px;
$new-article-img-width: 225px;
$new-article-title-color: black;
$new-article-tag-color: #ffd700;
$featured-articles-bg-color: #f7f7f7;
$featured-articles-title-color: #373737;
$article-cover-img-width: 355px;
$article-cover-img-height: 190px;
$carousel-bg-color: #333;
$carousel-height: 625px;

// =============== /VARS ===============//

@import "bootstrap";

@charset "UTF-8";

// ============== MIXINS ============== //

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin box-sizing(){
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

@mixin shadow(){
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
	-ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
	-o-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}


// ============== /MIXINS ============== //

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  src: local('Merriweather'), local('Merriweather Regular'), url(/fonts/Merriweather-Regular.ttf) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v7/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	font-size: 13px;
	color: $font-color;
	background: #fff;
	font-family: Lato, Merriweather, Open Sans, sans-serif;
	@include box-sizing();
}

*{	
	font-family: Lato, Merriweather, Open Sans, sans-serif;
}


// ================ NAV ================//
.pre-nav {
  height: $pre-nav-logo-height * 1.6;
  border-bottom: 1px solid #f3f3f3;

  .brand {
    height: 100%;
    padding: $pre-nav-logo-height * .3 0;
  }

  .name-container {
    height: $pre-nav-logo-height;
    position: relative;
    margin-left: 2em;
    line-height: 1;

    .name {
      position: absolute;
      top: 0;
      width: 7em;
      font-size: 18px;
      color: $navbar-default-brand-color;
    }

    .desc {
      font-size: 22px;
      width: 7em;
      position: absolute;
      bottom: 0;
      color: #ababab;
    }
  }

  .logo {
    height: $pre-nav-logo-height;
    float: left;
  }

  .social {
    height: 100%;
    padding: $pre-nav-logo-height * .623 0;
    font-size: 16px; 
    font-weight: bold;
    color: #ababab;

    > * {
      margin-left: 1em;
    }
  }

}

nav {
	width: 100%;
  z-index: 200;
  border-radius: 0;

  .navbar-brand {
    display: none;
  }

  .nav {
    width: 100%;
  }

  &.affix {
    top: 0;

    .navbar-brand {
      display: block;
    }

    .nav {
      width: initial;

      > li {
        width: initial;
      }
    }
  }
}

#navbar {
  padding: 0;
}

.nav > li {
  width: 1/9 * 100%;
  text-align: center;

  &:first-of-type a {
    padding-left: 0;
    text-align: left;
  }

  &:last-of-type a {
    text-align: right;
  }
}
.navbar-nav {
	font-size: 16px;
	text-transform: capitalize;
  font-weight: bold;
}

// ================ /NAV ================//

// ============= HOME-HEADER ============= //

#header {
  position: relative;
  height: $home-header-height;
  background: $home-header-bg-color;
  margin-top: 25px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  color: white;
  font-size: 12px;
  box-shadow: 0 0 35px 6px rgba(0,0,0,0.35);

  .cover-image {
    height: $home-header-height;
  }

  .cover-details {
    padding: 2em 1.5em;
  }

  .cover-link {
    text-decoration: none;
  }

  .cover-link:hover {
    text-decoration: none;
  }
  
  .cover-title-label {
    font-size: 14px;
    font-weight: bold;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .title:hover {
    text-shadow: 1px 1px 10px #777777;
  }
}

.red-strip {
  height: 0px;
  width: 90px;
  border-bottom: 8px solid red;
}

.cover-excerpt {
  margin-top: 20px;
}
// ============= /HOME-HEADER ============= //

// ============= NEW-ARTICLES ============ //
#new-articles {
  color: white;
  overflow: hidden;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 60px;

  .article {
    position: relative;
    height: 340px;
    padding: 0 5px;
    margin-top: 10px;
    box-shadow: 0 0 35px 6px rgba(0,0,0,0.35);

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  .details {
    position: absolute;
    bottom: 0;
    padding: 1.5em 1.5em .25em;
  }

  a:hover {
    color: #ddd;
  }
}

.details {
  width: 100%;
  font-size: 12px;

  .title {
    text-transform: capitalize;
    font-size: 20px;
    margin: 0;
  }

  .tag {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: $new-article-tag-color;
  }

  .head {
    width: 100%;
    position: relative; 
  }

  .date {
    position: absolute;
    right: 0;
    bottom: 0;
    font-style: italic;
  }
}


#related-articles {
  z-index: 10;

  .article:hover {

    .img-container {
      width: $new-article-img-width * 1.1;
      height: $new-article-img-height * 1.1;
    }

  }

  .cover-container-container {
    width: $new-article-img-width * 1.1;
    height: $new-article-img-height * 1.1;
  }

  .img-container {
    width: $new-article-img-width;
    height: $new-article-img-height;
    border-radius: 1%;
    box-shadow: 0 0 15px 0 rgba(0,0,0, 0.4);
  }

  .details:hover ~ .cover-container-container {
    & > .img-container {
      width: $new-article-img-width * 1.1;
      height: $new-article-img-height * 1.1;
    }
  }

  .details {
    margin: 10 auto;
    font-weight: bold;

    .title {
      color: $new-article-title-color;
      text-transform: capitalize;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      margin-top: 5px;
    }

    .tag {
      margin-top: 5px;
      text-transform: uppercase;
      font-size: 14px;
      color: $new-article-tag-color;
    }
  }
}
// ============ /NEW-ARTICLES ============ //

// ========== FEATURED-ARTICLE =========== //
#featured-articles-container {
  background: $featured-articles-bg-color;
  padding-top: 3em;
}

#featured-articles-title {
  font-size: 30px;
  font-weight: bold;
  color: $featured-articles-title-color;
  margin-top: 22px;
  margin-bottom: 22px;
}

#featured-articles {
  color: lighten($font-color, 10%);

  .article-cover-container {
    width: $article-cover-img-width;
    height: $article-cover-img-height;
    box-shadow: 0px 35px 40px -20px rgba(0,0,0, 0.4);
  }

  a {
      &:hover{
      color: darken($font-color, 10%);
      text-decoration: none;
      @include transition(all, 0.2s, ease-in);

      .details {
        box-shadow: -3px -3px 15px 0 rgba(0,0,0,0.25);
      }
    }
  }

  .article-container {
    margin-bottom: 10px + 0.1 * $article-cover-img-height;

    .details {
      position: relative;
      z-index: 10;
      margin: 0 auto;
      top: -0.1 * $article-cover-img-height;
      background: $featured-articles-bg-color;
      width: 0.9 * $article-cover-img-width; ;
      height: 120px;
      font-size: 0.95em;
      padding: 0 1em 0.5em;

      .tag {
        position: absolute;
        top:0;
        left: 50%;
        transform: translate(-50%,-75%); 
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1em;
        color: #ffffff;
        background-color: rgba(146, 204, 102, 0.85);
        padding: 0.5em 1em;
        opacity: 0.9;
      }

      .title {
        font-size: 1.85em;
        font-family: 'Montserrat', sans-serif;
      }

      &:before {
        content: " ";
        display: table;
      }

    }
  }
}
// ========= /FEATURED-ARTICLES ========== //
// ============= CAROUSEL ============= //

/* Carousel base class */
.carousel {
  height: $carousel-height;
}

.carousel-caption {
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    h1 {
      font-weight: bold;
      line-height: 0.98;
      text-align: center;
      color: #ffffff;
    }
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: $carousel-height;;
  background-color: $carousel-bg-color;
}
.carousel-inner{

  .cover-image {
    width: 100%;
    position: absolute;

    .img-responsive {
      width: 100%;
    }

    img {
      -webkit-filter: blur(15px);
      filter: blur(15px);
    }
  }
  .video-container {
    width: 70%;
    padding: 2%;
  }

  > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }
}
// ============ /CAROUSEL ============= //

// ============== COMPONENTS ============== //
.center-vertical {
  position: absolute;
  -ms-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  bottom: 50%;
}

.center-horizontal {
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}

.center-both {
  position: absolute;
  -ms-transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  left: 50%;
  bottom: 50%;
}

.center-fill-container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.img-center-fill {
  position: absolute;
  width: 100%;

  &.wide {
    height: 100%;
    width: auto;
  }
  
  &.tall {
    width: 100%;
  }
}

.tinted {
  background: black;
  
  img {
    opacity: 0.6;
  }
}

.img-container {
  height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
	@include transition(all, 0.2s, ease-in);

	&:hover{
    color: darken($font-color, 10%);
    text-decoration: none;
		@include transition(all, 0.2s, ease-in);
	}

  &.hover-underline {
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

blockquote {
	border-left: 5px solid #e74c3c;
	padding-left: 10px;
	font-style: italic;
}
// ============== /COMPONENETS ============== //

// ============== POST ============== //

.post {
  z-index: 10;
  position: relative;
	background: white;
	padding: 10px 50px;
  margin-bottom: 20px;
	font-size: 1.1em;
	line-height: 1.5em;
	color: #333332;

  .content {
    margin-top: 2em;
  }

  .fb-page {
    top:2em;
  }

	p img {
		display: block;
		margin: auto;
		max-width: 100%;
		padding: 5px 0px;
	}

  .justify {
    text-align: justify;
  }
}

.post-header {
  box-shadow: 0 100px 125px -100px;
}

// ============== /POST ============== //

// ========= RELATED-ARTICLES ======== //

#related-articles {
  padding-top: 40px;
  padding-bottom: 20px;
  background: #f0f0f0;
}

// ========= /RELATED-ARTICLES ======= //

// ============== FOOTER ============== //

footer {
  position: relative;
	background: #1c1c1c;
  height: 65px;
  font-weight: normal;
  color: #ffffff;

  a:hover {
    color: #ddd;
  }
}

// ============== /FOOTER ============== //

// ============== CATEGORY-POSTS ===========//
.category-posts {
  position: relative;
  z-index: 10;
  background: white;
  padding-top: 20px;
  min-height: 100px;

  .category-post {
    margin-bottom: 30px;
    padding: 0 10px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .img-container {
    height: $article-cover-img-height;
  }
}
// ============= /CATEGORY-POSTS ===========//

// ============== TEAM ============== //

.team {
	background: white;
	padding: 10px 50px;
	@include shadow();
	font-size: 1.1em;
	line-height: 1.5em;
	color: #333332;
	text-align: center;
	font-size: 0.9em;

	h1, h3, h4, h5, h6 {
		margin: 0px;
		font-weight: 500;
	}

	.person {
		margin-bottom: 20px;
	}
}

// ============== /TEAM ============== //

.img {
	padding: 10px 0px 10px 10px;

	&.right img{
		float: right;
		width: 300px;
	}
	&.left img{
		float: left;
		width: 300px;
	}
	&.center {
		text-align: center;
	}
}

// ============== ABOUT ============== //

.about {
  h4 {
     line-height:125%;
   }

  padding: 2em 3em;
  font-size: 1.2em;
}
