# Ignore everything in _site
_site/

# allow this
!_site/images/posts/summer2025.png

# parent directories are not ignored
!_site/images/
!_site/images/posts/
.sass-cache/




.jekyll-cache/
.jekyll-metadata

# Ignore dependencies
vendor/
.bundle/
node_modules/
package-lock.json
yarn.lock

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temp files
*.log
*.tmp
*.swp
*.swo

# Ignore by editors/IDEs
.vscode/
.idea/
*.iml
