<footer class="container-fluid">
  <div class="pre-footer container">
    <div class="brand pull-left">
      <img class="logo" src="/images/logo-black.png">
      <div class="name-container">
        <div class="name">Watch Out!</div>
        <div class="desc">Student Media<br>Body of IITR</div>
      </div>
    </div>
    <div class="social pull-right">
      <!--      <a href="/team">Team</a> -->
      <a href="/about">About</a>
      <a href="/guide">Guide</a>
      <a href="/getinvolved">Get Involved</a>
      <a href="http://fb.com/watchoutiitr"><img src="/images/fb-logo.svg"></a>
      <a href="https://www.youtube.com/channel/UCthZ7tKOzy4EJpuVxtdcp1A"><img src="/images/youtube-play.svg"></a>
      <a href="mailto:watchout@iitr.ac.in"><img src="/images/email.png" width="16px"></a>
    </div>
  </div>


  <div class="container copyright">
    <p>&copy; Copyright 2018 &#8212; Watch Out! News Agency</p>
  </div>
</footer>
