<footer class="container-fluid">
  <div class="center-both">
    <div class="container">
      <div class="row">
      <p class="col-sm-4 pull-left">&copy; Copyright 2016 &#8212; Watch Out! News Agency</p>
      <div class="col-sm-4 pull-right">
        <div class="row">
          <a class="col-sm-4" href="/team/">Team</a>
          <a class="col-sm-4" href="/about/">About Us</a>
          <a class="col-sm-4" href="http://fb.com/WatchOutNewsAgency">Facebook</a>
        </div>
      </div>
     </div>
    </div>
	</div>
</footer>
