<head>

  {% assign title =  site.name %}
  {% if page.title %}
    {% assign title = page.title + " &mdash; " + title %}
  {% endif %}

  {% if page.excerpt %}
    {% assign desc = page.excerpt %}
  {% else %}
    {% assign desc = site.description %}
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {{ title }}
  </title>

  <!-- Open Graph protocol -->
  <meta property="og:site_name" content="Watch Out! News Agency" />
  <meta property="og:title" content="{{ title | xml_escape }}" />
  <meta property="og:type" content="{% if page.excerpt %}article{% else %}website{% endif %}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}/" />
  <meta property="og:image" content="{{ site.url }}/images/{% if page.image %}posts/{{page.image}}{% else %}posts/main-building.jpg{% endif %}" />
  <meta property="og:description" content="{{ desc }}" />
  <!-- Open Graph protocol -->

  <!-- Facebook tags -->
  <meta property="fb:app_id" content="691723664330476"/>
  <!-- Facebook tags -->

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ desc }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />

  <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/masonry.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
</head>
