{% assign post = site.categories['coverstory'].first %}
{% if page.is_post == true %}
  {% assign post = page %}
{% endif %}

<div id="header" class="container {% if page.is_post %}post-header{% endif %}">
  <div class="row header-row outer-row">
    {% if post.image != nil %}
    <div class="col-md-8 tinted cover-image center-fill-container">
      <div class="img-container">
        <img class="center-both img-center-fill" src="/images/posts/{{ post.image }}" alt="">
      </div>
    </div>
    {% endif %}
    <div class="col-md-4 cover-details">
      <div class="cover-title-label">
        Cover Story
      </div>
      <div class="cover-title">
        <a  href="{{ post.url }}" class="cover-link">
          <h1 class="title">{{ post.title  }}</h1>
        </a>
      </div>
      <div class="red-strip"></div>
      <div class="cover-excerpt">
        {{ post.excerpt }}
      </div>
    </div>
    </div>
  </div>
</div>

<div id="new-articles" class="container content">
  <section>
    <div class="row outer-row">
      {% for post in site.related_posts limit: 5 %}

      {% if forloop.index == 3 %}
        </div>
        <div class="row outer-row">
      {% endif %}

      <div class="article col-sm-{% if forloop.index < 3 %}6{% else %}4{% endif %}">
        <div class="center-fill-container img-container tinted">
          <img src="/images/posts/{{post.image}}" alt=""  class="img-center-fill center-both {% if post.image == null %}hidden{% endif %}">
        </div>
        <div class="details">
          <div class="head">
            <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <div class="tag"><a href="/category/{{ post.category }}/">{{ site.data.categories_name[post.category] }}</a></div>
            <span class="date">{{ post.date | date: "%b %e, %Y" | upcase }}</span>
          </div>
          {% if forloop.index < 3 %}
          <div class="excerpt">{% if post.excerpt != null %}{{ post.excerpt | markdownify }}{% endif %}</div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
