---
layout: layout
---

{% include cat_header.html %}

<div class="category-posts container">
  <div class="row">
    <div class="col-md-8">
      {% for post in site.categories[page.category] offset: 1 %}
      {% include horizontal_post.html post=post %}
      {% endfor %}
    </div>
    <div class="col-md-4">
      <div class="fb-page" data-href="https://www.facebook.com/WatchOutNewsAgency/" data-tabs="timeline" data-width="330" data-height="540" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/WatchOutNewsAgency/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/WatchOutNewsAgency/">Watch Out! News Agency</a></blockquote></div>
    </div>
  </div>
</div>

