---
layout: layout
---
<section class="post container">
	<section class="byline">
		{{ page.date | date: "%B %e, %Y" }}
	</section>

  <section class="content{% if page.justify %} justify{% endif %}">
    {{ content }}
  </section>

</section>

<div id="related-articles-container" class="container-fluid">
  <section id="related-articles" class="row">

  {% for post in site.related_posts limit: 4 %}
    <div class="article col-sm-3">
      <a href="{{ post.url }}">
        <div class="center-fill-container img-container">
          <img src="/images/posts/{{post.image}}" alt=""  class="img-center-fill {% if post.image == null %}hidden{% endif %}">
        </div>
        <div class="details text-center ">
          <h3 class="title">{{ post.title | truncatewords: 4}}</h3>
          <p class="tag">{{ post.tag }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
  </section>
</div>
